// wide screens
@include mediaXl{
  .projects{
    grid-template-columns: repeat(4, 1fr);
  }

  main#cv .info-block {

    .education-info, .position-info {
    }

    .education-details, .position-details {
      text-align: right;
    }
  }

}

// desktop & laptop
@include mediaLg{
    .lg-heading{
          font-size: 5rem!important;
      }
    .sm-heading{
        font-size: 2rem!important;
    }
    
  .projects{
    grid-template-columns: repeat(3, 1fr);
  }

  .projects img {
    height: 150px;
  }
}

// tablets & small laptop
@include mediaMd{
    
    .lg-heading{
          font-size: 4.5rem!important;
      }
    .sm-heading{
        font-size: 1.3rem!important;
    }
    
  .main{
    alighn-items: center;
    text-align: center;

    .lg-heading{
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show{
      transform: translate(0, 0);
    }
  }

  .menu-nav{
    height: 75vh;
    transform: translate(-100%,0);
    font-size: 24px;
  }

  .menu-branding{
    height: 25vh;
    transform: translate(100%,0);

    .portrait{
      background: url('../img/portrait-small.jpg');
      width: 150px;
      height: 150px;
    }
  }

  .about-info{
    grid-template-areas:
            'bioimage'
            'bio';
    grid-template-columns: 1fr;
  }
    
    .doc-block{
        flex-direction: column;
      }

  .job-info{
    flex-direction: column;
  }

  .projects{
    grid-template-columns: repeat(2, 1fr);
  }

  .projects img {
    height: 142px;
  }
  .boxes div{
    font-size: 1rem;
    padding: 0.3rem 1.3rem;

    &:hover {
      padding: 0.2rem 0.6rem;
    }
  }
}

// smartphones
@include mediaSm{
  main#home h1{
    margin-top: 10vh;
  }

  .projects{
    grid-template-columns: 1fr;
  }

  .lg-heading{
      font-size: 3rem!important;
  }

  .sm-heading{
    font-size: 1rem!important;
    }

  .boxes div{
    font-size: 1rem;
    padding: 0.3rem 1.3rem;

    &:hover {
      padding: 0.2rem 0.6rem;
    }
  }

  .menu-branding{
    height: 25vh;

    .portrait{
      background: url('../img/portrait-xsmall.jpg');
      width: 125px;
      height: 125px;
    }
  }

  main#cv .info-block {
    margin: 15px 0;

    .education-info, .position-info {
      float: none;
      display: block;
    }

    .education-details, .position-details {
      margin: 15px 0 0 0;
      display: block;
    }
 }

  .bio p{
    font-size:18px;
  }

  .projects img {
    height: 117px;
  }

  .f-container{
    display: none;
  }

}