@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1, h2, h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 5), 0.5);
  }
}

a{
  color: #fff;
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: $secondary-color;
}

main{
  padding: 4rem;
  min-height: 100vh;

  .icons{
    margin-top: 1rem;

    a{
      padding: 0.4rem;

      &:hover{
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

.about-info{
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio';
  grid-auto-columns: repeat(3, 1fr);
}

.bio-image{
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $secondary-color;

}

.bio{
  grid-area: bio;
  font-size: 1.5rem;
}

.job-info{
  display: flex;
  flex-direction: row;

  .job{
    background: lighten($primary-color, 5);
    padding: 10px;
    margin: 5px;
    border-bottom: 5px solid $secondary-color;
  }

  .job-1{
    flex: 1;
    order: 1;
  }
  .job-2{
    flex: 1;
    order: 2;
  }
  .job-3{
    flex: 1;
    order: 3;
  }
  .job-4{
    flex: 1;
    order: 4;
  }
}

.info-block{
  margin: 30px 0;
//    display: flex;
//    flex-direction: row;

  .education-info, .position-info{
    float: left;
//      flex: 1;
  }

  .education-details, .position-details{
    margin-left: 50vh;
//      flex:2;
  }

  .line{
    margin-top: 3vh;
    border-bottom: 1px solid $secondary-color;
  }

  .skill{
    display: inline-block;
    background: #777;
    color: white;
    border-radius: 16px;
    padding: 5px 10px;
    margin: 5px 3px;
  }
}

//.cv{
//    text-align: center;
//    margin-top: 2rem;
//}

//.cv a{
//    padding: 5px 10px;
//    background: darken($primary-color, 5);
//    border-radius: 16px;
//    border: 3px solid $secondary-color;
//    margin: 0 2rem;
//
//  &:hover{
//    background: lighten($primary-color, 5);
//    @include easeOut();
//  }
//}

// documents

.doc-block{
    display: flex;
    flex-direction: row;
    
    .doc-unit{
        flex: 1;
        padding: 10px;
        margin: 5px;
        background: lighten($primary-color, 5);
        border-radius: 5px;
        
    }
}

.redirect-link{
    text-align: center;
}

.redirect-document-link{
    color: darken($secondary-color, 5);
    
      &:hover{
    color: lighten($secondary-color, 5);
    @include easeOut();
  }
}

// projects
.projects{
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img{
    height: 212px;
    width: 100%;
    border: 3px #fff solid;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut();
    }
  }

}

// button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut();
  }
}

.btn-dark{
  background: darken($primary-color, 50);
  color: #ddd;
  @extend .btn;
}

.btn-light{
  background: lighten($primary-color, 50);
  color: #333;
  @extend .btn;
}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  //height: 60px;
}

.f-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 264px;
}

.f-box{
  padding-top: 1vh;

  &.one{
    flex:1;

    div{
      text-align: left;

      a{
        font-size: 17px;

        &:hover{
          color: $secondary-color;
          @include easeOut();
        }

        &.current{
          color: $secondary-color;
        }
      }
    }
  }

  &.two{
    flex:2;
    width: 100%;

    form{
      //text-align: center;
      textarea{
        overflow: hidden;
        height: 100px;
        resize: none;
      }

      input, textarea{
        display: block;
        width: 100%;
        padding: 10px 10px;
        margin: 10px 0 10px 0;
        border-radius: 3px;
        border: none;

        &:focus{
          @include easeOut();
          border: none;
          outline: none;
          box-shadow: 0 0 3px 2px $secondary-color;
          background: $primary-color;
          color: set-text-color($primary-color);
        }
       }

      .btn-contact{
        background: darken($primary-color, 0.5);
        color: set-text-color($primary-color);

        &:hover{
          background: $secondary-color;
          @include easeOut();
        }
      }

    }
  }

  &.three{
    flex:1;
    text-align: right;


    div{
      margin-bottom: 5px;

      a{
        &:hover{
          color: $secondary-color;
          @include easeOut();
        }
      }
    }
  }
}

@import 'mobile';